<%- include('partials/head.ejs') %>

<body>
    <nav class="navbar navbar-light bg-primary">
        <div class="container-fluid">
            <div>
                <h1 class="text-white">Ecommerce</h1>
            </div>
            <div class="LoginorSignup">
                <a class="text-white" href="/">Home</a>
                <a class="text-white" href="/login">Login</a>
                <a class="text-white" href="/signup">Register</a>
            </div>
        </div>
    </nav>
</body>

<%- include('partials/footer.ejs') %>