<%- include('partials/head.ejs') %>

<body>
    <nav class="navbar navbar-light bg-dark">
        <div class="container-fluid">
            <h1 class="text-white navbar-brand">Welcome</h1>
            <form class="d-flex">
                <a href="/logout" class="btn btn-outline-success text-white" type="submit">Logout</a>
            </form>
        </div>
    </nav>
</body>

<%- include('partials/footer.ejs') %>